main .content-section .text-box {
    flex: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #383b3e transparent;

    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-button {
        background: none;
        display: none;
    }
}

main .content-section .text-box .container{
    width: 780px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.chat-box {
    padding: 12px;
    max-width: 75%;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Plus_Jakarta_Sans';
    gap: 5px;
}

.chat-box.user {
    background-color: #2f333a;
    color: #ffffff;
    align-self: flex-end;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.chat-box.system {
    max-width: 90%;
    color: #ffffff;
    align-self: flex-start;
}

.chat-box .content {
    font-size: 1.1rem;
    margin-top: 8px;
    margin-bottom: 4px;
    line-height: 1.4;
    word-wrap: break-word;
}

.chat-box span {
    font-size: 0.80rem;
    display: block;
    text-align: right;
    color: inherit;
    opacity: 0.8;
    color: #bfdbfe;
}

.chat-box.user span {
    align-self: flex-end;
}

.chat-box.system span {
    align-self: flex-start;
}