
@font-face {
    font-family: 'Poetsen_One';
    src: url('../assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: 'Plus_Jakarta_Sans';
    src: url('../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf');
    src: url('../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
}

body{
    background: #1B1C1D;
    margin: 0;
    padding: 0;
    color: #A5A5A5;
    overflow: hidden;
    display: flex;
}

/*=== Left bar ===*/
.sidebar{
    background: #282A2C;
    width: 70px;
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar .menu-button{
    width: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .menu-button .menu-img{
    width: 26px;
    height: 26px;
    background-image: url('../assets/images/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .menu-button .menu-img:hover{
    cursor: pointer;
}

.sidebar .chat-box .chatbox-container .new-chat-label{
    display: none;
}

.sidebar .chat-box{
    width: 70px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .chat-box .new-chat{
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background-image: url('../assets/images/add_circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .chat-box .new-chat:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 7px #32373D;
}


.sidebar.expanded{
    width: 250px;
}

.sidebar.expanded .menu-button{
    width: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.expanded .menu-button .menu-img{
    width: 26px;
    height: 26px;
    background-image: url('../assets/images/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar.expanded .chat-box{
    width: 155px;
    height: 120px;
}

.sidebar.expanded .chat-box .chatbox-container{
    transition: width 0.2s ease;
    background: #1B1C1D;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.sidebar.expanded .chat-box .chatbox-container .new-chat-label{
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

.sidebar.expanded .chat-box .new-chat{
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background-image: url('../assets/images/add_circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*=== Main section ===*/
main{
    width: calc(100% - 70px);
    height: 100vh;
}

/*=== Navigation bar ===*/
nav{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 2px 5px 1px #292929;
    gap: 70%;   
}

nav .logo-bar{
    font-family: 'Poetsen_One';
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

nav .user-bar{
    width: 36px;
    height: 36px;
    background-image: url('../assets/images/user-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

nav .user-bar:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 10px #32373D;
}

main .content-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

main .content-section .text-box{
    flex: 1;
    width: 100%;
}

main .content-section .input-box{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main .content-section .input-box .input-field{
    flex: 1;
    width: 800px;
    height: 140px;
    border-radius: 25px;
    border: 1px;
    outline: 1px solid #A5A5A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: outline-color 0.3s ease;
}

main .content-section .input-box .input-field:focus-within{
    border: 1px;
    outline: 1px solid #c8b6ff;
}

main .content-section .input-box .input-field .input-text{
    width: 100%;
    height: 75px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    padding-top: 5px;
}

main .content-section .input-box .input-field .input-text textarea{
    background: none;
    width: 100%;
    min-height: 1.5em;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    outline: none;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Plus_Jakarta_Sans';
    font-size: 20px;
    resize: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

main .content-section .input-box .input-field .input-button{
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

main .content-section .input-box .warning-field{
    font-family: 'Plus_Jakarta_Sans';
    width: 700px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}