@font-face {
    font-family: 'Poetsen_One';
    src: url('../assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: 'Plus_Jakarta_Sans';
    src: url('../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf');
    src: url('../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--transition-color);
    border-radius: 5px;
}

main .content-section .input-box .input-field{
    width: 800px;
    height: 140px;
    border-radius: 25px;
    border: 1px;
    outline: 1px solid #A5A5A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: outline-color 0.3s ease;
}

main .content-section .input-box .input-field:focus-within{
    border: 1px;
    outline: 1px solid #c8b6ff;
}

main .content-section .input-box .input-field .input-text{
    flex: 1;
    width: 100%;
    height: 75px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    padding-top: 5px;
}

main .content-section .input-box .input-field .input-text textarea{
    background: none;
    width: 100%;
    min-height: 1.5em;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    outline: none;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Plus_Jakarta_Sans';
    font-size: 20px;
    resize: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

main .content-section .input-box .input-field .input-button{
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    padding-bottom: 10px;
}

main .content-section .input-box .input-field .input-button .send-button{
    height: 40px;
    width: 40px;
    background-image: url('../assets/images/send-message.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

main .content-section .input-box .input-field .input-button .send-button{
    cursor: pointer;
}