/*=== Left bar ===*/
.sidebar{
    background: #282A2C;
    width: 70px;
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar .menu-button{
    width: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .menu-button .menu-img{
    width: 26px;
    height: 26px;
    background-image: url('../assets/images/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .menu-button .menu-img:hover{
    cursor: pointer;
}

.sidebar .chat-box .chatbox-container .new-chat-label{
    display: none;
}

.sidebar .chat-box{
    width: 70px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .chat-box .new-chat{
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background-image: url('../assets/images/add_circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .chat-box .new-chat:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 7px #32373D;
}

.sidebar.expanded{
    width: 250px;
}

.sidebar.expanded .menu-button{
    width: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.expanded .menu-button .menu-img{
    width: 26px;
    height: 26px;
    background-image: url('../assets/images/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar.expanded .chat-box{
    width: 155px;
    height: 120px;
}

.sidebar.expanded .chat-box .chatbox-container{
    transition: width 0.3s ease;
    background: #1B1C1D;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.sidebar.expanded .chat-box .chatbox-container .new-chat-label{
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

.sidebar.expanded .chat-box .new-chat{
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background-image: url('../assets/images/add_circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}