<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linesight</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <aside class="side-bar">
        <div class="menu-button">
            <div class="menu-img"></div>
        </div>
        <div class="chat-box">
            <div class="chat-img"></div>
        </div>

    </aside>
    
    <main class="main-content">
        <nav>
            <div class="logo-bar">Linsight</div>
            <div class="user-bar"></div>
        </nav>
        <section class="content-section">
            <div class="text-box"></div>
            <div class="input-box">
                <div class="input-field">
                    <div class="input-text">
                        <textarea id="textarea" placeholder="Search anything"></textarea>
                    </div>
                    <div class="input-button"></div>
                </div>
                <div class="warning-field">
                    LLM might make mistakes, so check Important Information
                </div>
            </div>
        </section>
    </main>

</body>
</html>