<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linesight</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/side-bar.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/navigation.css">

</head>
<body>
    <aside class="sidebar" id="sidebar">
        <div class="menu-button">
            <div class="menu-img" id="menu-icon" onclick="toggle_sidebar()"></div>
        </div>
        <div class="chat-box">
            <div class="chatbox-container">
                <div class="new-chat"></div>
                <span class="new-chat-label">New Chat</span>
            </div>
        </div>

    </aside>
    
    <main class="main-content">
        <nav>
            <div class="logo-bar">Linsight</div>
            <div class="user-bar"></div>
        </nav>
        <section class="content-section">
            <div class="text-box">
                <div class="container">
                    <div class="chat-box user">
                        <p class="content">this is user content</p>
                        <span>10:10 AM</span>
                    </div>

                    <div class="chat-box system">
                        <p class="content">this is system content</p>
                        <span>10:11 AM</span>
                    </div>

                    <div class="chat-box user">
                        <p class="content">this is user content</p>
                        <span>10:10 AM</span>
                    </div>

                    <div class="chat-box system">
                        <p class="content">this is system content</p>
                        <span>10:11 AM</span>
                    </div>

                    <div class="chat-box user">
                        <p class="content">this is user content</p>
                        <span>10:10 AM</span>
                    </div>

                    <div class="chat-box system">
                        <p class="content">this is system content</p>
                        <span>10:11 AM</span>
                    </div>

                    <div class="chat-box user">
                        <p class="content">this is user content</p>
                        <span>10:10 AM</span>
                    </div>

                    <div class="chat-box system">
                        <p class="content">this is system content</p>
                        <span>10:11 AM</span>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <div class="input-text">
                        <textarea id="textarea" placeholder="Search anything"></textarea>
                    </div>
                    <div class="input-button"></div>
                </div>
                <div class="warning-field">
                    LLM might make mistakes, so check Important Information
                </div>
            </div>
        </section>
    </main>


    <script src="../static/js/index.js"></script>
</body>
</html>