<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linesight</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/side-bar.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/input.css">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>
    <aside class="sidebar" id="sidebar">
        <div class="menu-button">
            <div class="menu-img" id="menu-icon" onclick="toggle_sidebar()"></div>
        </div>
        <div class="chat-box">
            <div class="chatbox-container">
                <div class="new-chat" onclick="new_chat()"></div>
                <span class="new-chat-label">New Chat</span>
            </div>
        </div>

    </aside>
    
    <main class="main-content">
        <nav>
            <div class="logo-bar">Linsight</div>
            <div class="user-bar"></div>
        </nav>
        <section class="content-section">
            <div class="text-box">
                <div class="container" id="chat-container">
                    <div class="chat-box thinking">
                        <p class="content" id="markdownContent">this is test 1</p>
                    </div>
                    <div class="chat-box thinking">
                        <p class="content" id="markdownContent">this is test 2</p>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <div class="input-text">
                        <textarea id="textarea" placeholder="Search anything"></textarea>
                    </div>
                    <div class="input-button">
                        <div class="send-button" id="send-button"></div>
                    </div>
                </div>
                <div class="warning-field">
                    LLM might make mistakes, so check Important Information
                </div>
            </div>
        </section>
    </main>


    <script  src="../static/js/index.js"></script>
    <script src="../static/js/new_chat.js"></script>
</body>
</html>